[pull]
  rebase = true
[push]
  default = upstream
[merge]
  tool = vimdiff
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  a = add
  aa = add .
  ai = add -i
  b  = branch
  br  = branch
  ci = commit
  cia = commit --amend
  cim = commit -m
  cit = commit -m "TEMPORARY"
  co = checkout
  com = checkout master
  cp = cherry-pick
  d  = diff
  ds = diff --staged
  pop = stash pop
  puo = push -u origin
  ra = rebase --abort
  rc = rebase --continue
  rsa = reset .
  rsh = reset --soft HEAD^
  rim = rebase -i master
  s  = status
  st = status
  su = submodule update
  ln = log --name-status
  l  = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
  ll  = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit -5
  lll  = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit -10
  la = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --all --graph
[user]
	name = Steve Pikelny
	email = pikelnys@nextcapital.com
